/*font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Libre Barcode 39 Text', cursive;*/

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 2em;
  background-color: black;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 1.4em;


}

a:hover {
  color: #696969;
}

.appClass {
  margin: 1em;


}

.appClass h1{
  display: flex;
  justify-content: center;
  color: #696969;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;

}

.appClass p {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
}

.appClass img{
  width: 100%;
  height: auto;;
}

////
.supContainer{
  margin: 1em
}

.firstSup {
  margin: 1em;
  font-family: 'Raleway', sans-serif;
}

.firstSup h2 {
  display: flex;
  justify-content: center;
  color: #696969;
}

.firstSup p {
  display: flex;
  justify-content: center;
}

.firstSup img{
  width: 150vh;
  height: auto;;
  margin: 0 2em 0 2em;
}

.contactPage email{
  display: flex;
  justify-content: center;
  color: #696969;
  font-size: 2em;
}

.contactPage h1{
  display: flex;
  justify-content: center;
  color: #696969;
  font-size: 2em;
}

.contactPage p{
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;

}


.contactPage img{
  width: 150vh;
  height: auto;;
  margin: 0 2em 0 2em;
}
